<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="ebe890">  <td>21/04/27 19:58:08</td>   <td>0</td> <td title="&gt;&gt;BaseClass.loadConfig()[pri:0, instance:com.euclidemerlad.testcases.LoginPageTest@69e1dd28]">&gt;&gt;loadConfig</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2119891622</td>   <td></td> </tr>
<tr bgcolor="6c8f8d">  <td>21/04/27 19:58:08</td>   <td>720</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginPageTest.logintest(java.lang.String, java.lang.String)[pri:0, instance:com.euclidemerlad.testcases.LoginPageTest@69e1dd28]">logintest</td> 
  <td>main@2119891622</td>   <td></td> </tr>
<tr bgcolor="6c8f8d">  <td>21/04/27 19:58:08</td>   <td>724</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LoginPageTest.teardown()[pri:0, instance:com.euclidemerlad.testcases.LoginPageTest@69e1dd28]">&lt;&lt;teardown</td> 
<td>&nbsp;</td>  <td></td>   <td></td> </tr>
<tr bgcolor="6c8f8d">  <td>21/04/27 19:58:08</td>   <td>726</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LoginPageTest.setup(java.lang.String)[pri:0, instance:com.euclidemerlad.testcases.LoginPageTest@69e1dd28]">&gt;&gt;setup</td> 
<td>&nbsp;</td>  <td></td>   <td></td> </tr>
<tr bgcolor="6c8f8d">  <td>21/04/27 19:58:08</td>   <td>727</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginPageTest.logintest(java.lang.String, java.lang.String)[pri:0, instance:com.euclidemerlad.testcases.LoginPageTest@69e1dd28]">logintest</td> 
  <td>main@2119891622</td>   <td></td> </tr>
<tr bgcolor="6c8f8d">  <td>21/04/27 19:58:08</td>   <td>729</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LoginPageTest.teardown()[pri:0, instance:com.euclidemerlad.testcases.LoginPageTest@69e1dd28]">&lt;&lt;teardown</td> 
<td>&nbsp;</td>  <td></td>   <td></td> </tr>
<tr bgcolor="ebe890">  <td>21/04/27 19:58:08</td>   <td>772</td> <td title="&lt;&lt;BaseClass.afterSuit()[pri:0, instance:com.euclidemerlad.testcases.LoginPageTest@69e1dd28]">&lt;&lt;afterSuit</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td></td>   <td></td> </tr>
</table>
