<h2>Groups used for this test run</h2><table border="1">
<tr> <td align="center"><b>Group name</b></td><td align="center"><b>Methods</b></td></tr><tr><td>Sainity</td><td>LoginPageTest.logintest(java.lang.String, java.lang.String)[pri:0, instance:com.euclidemerlad.testcases.LoginPageTest@79da8dc5]<br/>LoginPageTest.logintest(java.lang.String, java.lang.String)[pri:0, instance:com.euclidemerlad.testcases.LoginPageTest@247d8ae]<br/>LoginPageTest.logintest(java.lang.String, java.lang.String)[pri:0, instance:com.euclidemerlad.testcases.LoginPageTest@193f604a]<br/></td></tr>
<tr><td>Smoke</td><td>LoginPageTest.logintest(java.lang.String, java.lang.String)[pri:0, instance:com.euclidemerlad.testcases.LoginPageTest@79da8dc5]<br/>LoginPageTest.logintest(java.lang.String, java.lang.String)[pri:0, instance:com.euclidemerlad.testcases.LoginPageTest@247d8ae]<br/>LoginPageTest.logintest(java.lang.String, java.lang.String)[pri:0, instance:com.euclidemerlad.testcases.LoginPageTest@193f604a]<br/></td></tr>
</table>
