<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Cross_Browser</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="dbbdf9">  <td>21/04/21 23:40:28</td>   <td>0</td> <td title="&gt;&gt;BaseClass.beforeSuit()[pri:0, instance:com.euclidemerlad.testcases.LoginPageTest@193f604a]">&gt;&gt;beforeSuit</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1030684756</td>   <td></td> </tr>
<tr bgcolor="dbbdf9">  <td>21/04/21 23:40:28</td>   <td>116</td> <td>&nbsp;</td><td title="&gt;&gt;BaseClass.loadConfig()[pri:0, instance:com.euclidemerlad.testcases.LoginPageTest@247d8ae]">&gt;&gt;loadConfig</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG-tests-2@726048573</td>   <td></td> </tr>
<tr bgcolor="dbbdf9">  <td>21/04/21 23:40:28</td>   <td>174</td> <td>&nbsp;</td><td title="&gt;&gt;BaseClass.loadConfig()[pri:0, instance:com.euclidemerlad.testcases.LoginPageTest@193f604a]">&gt;&gt;loadConfig</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG-tests-3@788663585</td>   <td></td> </tr>
<tr bgcolor="dbbdf9">  <td>21/04/21 23:40:28</td>   <td>175</td> <td>&nbsp;</td><td title="&gt;&gt;BaseClass.loadConfig()[pri:0, instance:com.euclidemerlad.testcases.LoginPageTest@79da8dc5]">&gt;&gt;loadConfig</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG-tests-1@1810438830</td>   <td></td> </tr>
<tr bgcolor="d18979">  <td>21/04/21 23:40:29</td>   <td>1399</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginPageTest.logintest(java.lang.String, java.lang.String)[pri:0, instance:com.euclidemerlad.testcases.LoginPageTest@193f604a]">logintest</td> 
  <td>TestNG-tests-3@788663585</td>   <td></td> </tr>
<tr bgcolor="d18979">  <td>21/04/21 23:40:29</td>   <td>1399</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginPageTest.logintest(java.lang.String, java.lang.String)[pri:0, instance:com.euclidemerlad.testcases.LoginPageTest@247d8ae]">logintest</td> 
  <td>TestNG-tests-2@726048573</td>   <td></td> </tr>
<tr bgcolor="d18979">  <td>21/04/21 23:40:29</td>   <td>1415</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginPageTest.logintest(java.lang.String, java.lang.String)[pri:0, instance:com.euclidemerlad.testcases.LoginPageTest@193f604a]">logintest</td> 
  <td>TestNG-tests-3@788663585</td>   <td></td> </tr>
<tr bgcolor="d18979">  <td>21/04/21 23:40:29</td>   <td>1415</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginPageTest.logintest(java.lang.String, java.lang.String)[pri:0, instance:com.euclidemerlad.testcases.LoginPageTest@247d8ae]">logintest</td> 
  <td>TestNG-tests-2@726048573</td>   <td></td> </tr>
<tr bgcolor="d18979">  <td>21/04/21 23:40:39</td>   <td>10946</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginPageTest.logintest(java.lang.String, java.lang.String)[pri:0, instance:com.euclidemerlad.testcases.LoginPageTest@79da8dc5]">logintest</td> 
  <td>TestNG-tests-1@1810438830</td>   <td></td> </tr>
<tr bgcolor="d18979">  <td>21/04/21 23:41:15</td>   <td>47698</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginPageTest.logintest(java.lang.String, java.lang.String)[pri:0, instance:com.euclidemerlad.testcases.LoginPageTest@79da8dc5]">logintest</td> 
  <td>TestNG-tests-1@1810438830</td>   <td></td> </tr>
<tr bgcolor="d18979">  <td>21/04/21 23:40:28</td>   <td>829</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LoginPageTest.setup(java.lang.String)[pri:0, instance:com.euclidemerlad.testcases.LoginPageTest@193f604a]">&gt;&gt;setup</td> 
<td>&nbsp;</td>  <td>TestNG-tests-3@788663585</td>   <td></td> </tr>
<tr bgcolor="d18979">  <td>21/04/21 23:40:28</td>   <td>829</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LoginPageTest.setup(java.lang.String)[pri:0, instance:com.euclidemerlad.testcases.LoginPageTest@79da8dc5]">&gt;&gt;setup</td> 
<td>&nbsp;</td>  <td>TestNG-tests-1@1810438830</td>   <td></td> </tr>
<tr bgcolor="d18979">  <td>21/04/21 23:40:28</td>   <td>829</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LoginPageTest.setup(java.lang.String)[pri:0, instance:com.euclidemerlad.testcases.LoginPageTest@247d8ae]">&gt;&gt;setup</td> 
<td>&nbsp;</td>  <td>TestNG-tests-2@726048573</td>   <td></td> </tr>
<tr bgcolor="d18979">  <td>21/04/21 23:40:29</td>   <td>1412</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LoginPageTest.setup(java.lang.String)[pri:0, instance:com.euclidemerlad.testcases.LoginPageTest@193f604a]">&gt;&gt;setup</td> 
<td>&nbsp;</td>  <td>TestNG-tests-3@788663585</td>   <td></td> </tr>
<tr bgcolor="d18979">  <td>21/04/21 23:40:29</td>   <td>1413</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LoginPageTest.setup(java.lang.String)[pri:0, instance:com.euclidemerlad.testcases.LoginPageTest@247d8ae]">&gt;&gt;setup</td> 
<td>&nbsp;</td>  <td>TestNG-tests-2@726048573</td>   <td></td> </tr>
<tr bgcolor="d18979">  <td>21/04/21 23:40:57</td>   <td>29220</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LoginPageTest.setup(java.lang.String)[pri:0, instance:com.euclidemerlad.testcases.LoginPageTest@79da8dc5]">&gt;&gt;setup</td> 
<td>&nbsp;</td>  <td>TestNG-tests-1@1810438830</td>   <td></td> </tr>
<tr bgcolor="d18979">  <td>21/04/21 23:40:29</td>   <td>1409</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LoginPageTest.teardown()[pri:0, instance:com.euclidemerlad.testcases.LoginPageTest@193f604a]">&lt;&lt;teardown</td> 
<td>&nbsp;</td>  <td></td>   <td></td> </tr>
<tr bgcolor="d18979">  <td>21/04/21 23:40:29</td>   <td>1410</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LoginPageTest.teardown()[pri:0, instance:com.euclidemerlad.testcases.LoginPageTest@247d8ae]">&lt;&lt;teardown</td> 
<td>&nbsp;</td>  <td></td>   <td></td> </tr>
<tr bgcolor="d18979">  <td>21/04/21 23:40:29</td>   <td>1419</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LoginPageTest.teardown()[pri:0, instance:com.euclidemerlad.testcases.LoginPageTest@193f604a]">&lt;&lt;teardown</td> 
<td>&nbsp;</td>  <td></td>   <td></td> </tr>
<tr bgcolor="d18979">  <td>21/04/21 23:40:29</td>   <td>1423</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LoginPageTest.teardown()[pri:0, instance:com.euclidemerlad.testcases.LoginPageTest@247d8ae]">&lt;&lt;teardown</td> 
<td>&nbsp;</td>  <td></td>   <td></td> </tr>
<tr bgcolor="d18979">  <td>21/04/21 23:40:56</td>   <td>28536</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LoginPageTest.teardown()[pri:0, instance:com.euclidemerlad.testcases.LoginPageTest@79da8dc5]">&lt;&lt;teardown</td> 
<td>&nbsp;</td>  <td>TestNG-tests-1@1810438830</td>   <td></td> </tr>
<tr bgcolor="d18979">  <td>21/04/21 23:41:19</td>   <td>51064</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LoginPageTest.teardown()[pri:0, instance:com.euclidemerlad.testcases.LoginPageTest@79da8dc5]">&lt;&lt;teardown</td> 
<td>&nbsp;</td>  <td>TestNG-tests-1@1810438830</td>   <td></td> </tr>
</table>
