<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="7fd8ce">  <td>21/06/04 20:59:53</td>   <td>0</td> <td title="&lt;&lt;BaseClass.afterSuit()[pri:0, instance:com.euclidemerlad.testcases.LoginPageTest@61386958]">&lt;&lt;afterSuit</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@245765246</td>   <td></td> </tr>
<tr bgcolor="7fd8ce">  <td>21/06/04 20:58:57</td>   <td>-55715</td> <td title="&gt;&gt;BaseClass.loadConfig()[pri:0, instance:com.euclidemerlad.testcases.LoginPageTest@61386958]">&gt;&gt;loadConfig</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@245765246</td>   <td></td> </tr>
<tr bgcolor="91ef70">  <td>21/06/04 20:59:04</td>   <td>-48715</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginPageTest.logintest(java.lang.String, java.lang.String)[pri:0, instance:com.euclidemerlad.testcases.LoginPageTest@61386958]">logintest</td> 
  <td>main@245765246</td>   <td></td> </tr>
<tr bgcolor="7fd8ce">  <td>21/06/04 20:58:58</td>   <td>-55083</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseClass.setup(java.lang.String)[pri:0, instance:com.euclidemerlad.testcases.LoginPageTest@61386958]">&gt;&gt;setup</td> 
<td>&nbsp;</td>  <td>main@245765246</td>   <td></td> </tr>
<tr bgcolor="7fd8ce">  <td>21/06/04 20:59:17</td>   <td>-35278</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseClass.setup(java.lang.String)[pri:0, instance:com.euclidemerlad.testcases.E2020PageTest@73ee04c8]">&gt;&gt;setup</td> 
<td>&nbsp;</td>  <td>main@245765246</td>   <td></td> </tr>
<tr bgcolor="7fd8ce">  <td>21/06/04 20:59:17</td>   <td>-35902</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseClass.teardown()[pri:0, instance:com.euclidemerlad.testcases.LoginPageTest@61386958]">&lt;&lt;teardown</td> 
<td>&nbsp;</td>  <td>main@245765246</td>   <td></td> </tr>
<tr bgcolor="7fd8ce">  <td>21/06/04 20:59:52</td>   <td>-678</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseClass.teardown()[pri:0, instance:com.euclidemerlad.testcases.E2020PageTest@73ee04c8]">&lt;&lt;teardown</td> 
<td>&nbsp;</td>  <td>main@245765246</td>   <td></td> </tr>
<tr bgcolor="afe297">  <td>21/06/04 20:59:23</td>   <td>-29524</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="E2020PageTest.verifygetCurrUrl()[pri:0, instance:com.euclidemerlad.testcases.E2020PageTest@73ee04c8]">verifygetCurrUrl</td> 
  <td>main@245765246</td>   <td></td> </tr>
</table>
